$bg: #0057FF;
$color: #fff;
.advantage {
  background: $bg;
  color: $color;
  &.wrap{
    padding-top: 48px;
  }
  .cn{
    display: grid;
    grid-gap: 46px;
  }
  header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  strong{
    margin: 0 0 0 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  p{
    font-weight: 300;
    font-size: 16px;
  }
}
@media screen and (min-width: 922px) {
  .advantage{
    &.wrap{
      padding-top: 5rem;
    }
    .cn{
      display: grid;
      justify-content: center;
      grid-gap: 4.5rem 5.7rem;
      grid-template-columns: repeat(auto-fill, minmax(300px, 435px));
    }
    strong{
      font-size: 22px;
    }
  }
}
@media screen and (min-width: 1350px) {
  .advantage {
    .cn {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
@media screen and (min-width: 1860px) {
  .advantage{
    p{
      font-size: inherit;
    }
  }
}