.basket{
  .gall{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 40px;
  }
  a{
    color: #000;
  }
  .gall_prod{
    display: flex;
  }

  .cn_img{
    width: 86px;
    height: 126px;
    flex-shrink: 0;
    margin-right: 15px;
  }
  .prod_info{
    .title{
      font-weight: bold;
    }
    .price{
      font-weight: bold;
      font-size: 24px;
      color: #0057FF;
    }
  }

  .cn_count{
    display: flex;
    align-items: center;
    margin: 15px 0 17px;
    .btn-tr{
      font-weight: bold;
      font-size: 24px;
      &[value="1"]{
        color: #0057FF;
      }
      &[value="0"]{
        color: #6E7377;
      }
    }

  }
  .total_price{
    font-size: 24px;
    margin-top: 40px;
    padding: 45px 20px 20px;
    text-align: center;
    border: 1px solid #0057FF;
    border-radius: 10px;

    span:not(.price){
      display: none;
    }
    .price{
      font-weight: bold;
      color: #0057FF;
    }
  }
  @at-root {
    input.prod_count{
      width: 30px;
      height: 34px;
      margin: 0 5px;
      border: 1px solid #C4C4C4;
      border-radius: 2px;
      padding: 0;
      text-align: center;
    }

    .payment{

      .btn-tr{
        display: block;
        margin-top: 10px;
        padding: 5px 0;
        font-size: 16px;
        color: #0057FF;
      }
    }
    .cn_radio{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px 2.5rem;
      margin: 20px 0;
    }
    .btn-input{
      margin: 0;
    }
    .recipient{
      margin: 50px 0;
    }
    .delivery{
      margin: 50px 0;
      .cn_input{
        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: .25s;
        &.active{
          opacity: 1;
          height: auto;
          visibility: visible;
        }
      }
    }
  }

  .cn_textarea{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: .3s;
    label{
      height: 250px;
      margin: 0;
      textarea {
        height: 100%;
        margin-top: 16px;
      }
    }
    &.active{
      visibility: visible;
      opacity: 1;
      height: 250px;
    }
  }

  .cn_submit{
    margin-top: 50px;
    padding: 30px 40px 40px 20px;
    border: 1px solid #0057FF;
    border-radius: 10px;
    .des{
      margin-top: 28px;
    }
  }
  td{
    min-width: 122-35px;
    padding-bottom: 7px;
  }
  .sum-price{

    td{
      padding: 27-7+px 0 7px;
    }
    strong{
      font-size: 18px;
      font-weight: bold;
      color: #0057FF;
    }
  }

  .btn{
    margin: 30px auto 0;
  }
}

$bg: #000018;
$title_link__color: #6E7377;
$link__color: #fff;
.footer-basket{
  color: $title_link__color;
  background-color: $bg;
  .wrap{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .link{
    display: inline-block;
    margin: 10px 0;
    font-size: 16px;
    line-height: 30px;
    color: $link__color;
  }
}

@media screen and (min-width: 700px) {
  .cn_checkbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 320px));
    grid-gap: 1.7rem 2.5rem;
    margin-bottom: 2rem;
    label{
      margin: 0;
    }
  }
  .cn_input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.7rem 2.5rem;
    label{
      margin: 0;
    }
  }
  .basket{
    .total_price{
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      max-width: 400px;
      min-width: 395px;
      height: 6rem;
      max-height: 83px;
      margin: 3.2rem 0 0 auto;
      padding: 1.5rem 1.6rem;
      span:not(.price){
        display: inline-block;
        margin-right: 36px;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .basket{
    .gall{
      grid-gap: 3rem 4rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .cn_count{
      margin: 1rem 0 .7rem;
    }
    .cn_submit{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 1.6rem 3.5rem 1.8rem 1.6rem;
      .des{
        margin: 0 2.25rem 0 3.7rem;
      }
    }
    .btn{
      margin: 0;
    }
    table{
      max-width: 320px;
      width: 100%;
    }
  }
  .recipient{
    .title{
      margin-bottom: 2.2rem;
    }
    margin: 2.5rem 0 5rem;
  }
  .delivery,
  .payment{
    .title{
      margin-bottom: 2.2rem;
    }
    margin: 5rem 0 5rem;
  }
  .checkbox strong{
    font-size: inherit;
  }
  .cn_radio{
    margin-bottom: 2rem;
  }
  .cn_checkbox{
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  }
}

@media screen and (min-width: 1240px) {
  .cn_input{
    grid-template-columns: repeat(3, 1fr);
  }
  .cn_radio{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: space-between;
  }
  .recipient{
    margin: 2.5rem 0 5rem;
  }

  .footer-basket{
    .wrap{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
