.cards-look {

  .cn_img {
    position: relative;
    margin-top: 30px;
    padding-top: 9vw;
  }

  p {
    margin-top: 20px;
  }

  .img_it {
    overflow: hidden;
    border-radius: 10px;
    max-width: 662px;
    max-height: 450px;
    width: 55vw;
    height: 36vw;

    &:first-of-type {
    }

    &:last-of-type {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@media screen and (min-width: 992px) {
  .cards-look{
    .cn{
      position: relative;
    }
    .title{
      margin-bottom: 18px;
    }
    p{
      margin-top: 0;
    }
    .content{
      width: 36%;
    }
    .cn_img{
      margin-top: 0;
      position: absolute;
      top: 4rem;
      right: 0;
      width: 61%;
      padding-top: 117px;
    }
    .img_it{
      width: 34vw;
      height: 23vw;
    }
    .list{
      margin-top: 2.5rem;
    }
  }
}