$li__margin-top-bot: 20px;

.contact-us {
  &.wrap {
    padding-bottom: 50px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .des {
    font-size: 16px;
    color: #6E7377;
  }

  .contact {
    margin-bottom: 50px;

    strong {
      font-weight: bold;
      color: #0057FF;
    }
  }

  p.tt {
    font-size: 16px;
    margin-bottom: 4px;
  }

  a,
  ul p:not(.tt) {
    font-size: 18px;
  }

  ul {
    margin: #{14 - $li__margin-top-bot } 0 #{-$li__margin-top-bot};
  }

  li {
    margin: $li__margin-top-bot 0;
  }

  .btn {
    margin: 30px auto 0;
  }
}

@media screen and (min-width: 700px) {
  .contact-us{
    li {
      display: grid;
      grid-template-columns: minmax(150px, 210px) 1fr;
      grid-gap: 0 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-us{
    form{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.55rem;
      .title{
        width: 100%;
        margin-left: 1.55rem;
      }
    }
    textarea{
      height: 262px;
    }

    .form_bl{
      margin: 0 1.55rem;
      flex-grow: 1;
      &:last-of-type{
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .contact-us{
    &.wrap{
      padding-bottom: 0;
    }
    .title{
      margin-bottom: 2rem;
    }
    form{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.55rem;
      .title{
        margin-left: 1.55rem;
        width: 100%;
      }
    }
    p.tt{
      font-size: inherit;
    }

    .form_bl{
      margin: 0 1.55rem;
      flex-grow: 1;
      &:last-of-type{
        width: 50%;
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  .contact-us {
    .cn{
      display: flex;
      justify-content: space-between;
    }
    .des{
      font-size: inherit;
    }
    .contact{
      width: 45%;
      padding-right: 25px;
      strong{
        font-size: 20px;
      }
    }
    ul{
      p:not(.tt){
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    form{
      width: 60%;
      max-width: 790px;
    }
    .btn{
      margin-top: 2rem;
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 1860px) {
  .contact-us {
    textarea {
      height: 287px;
    }

    li {
      grid-template-columns: minmax(150px, 250px) 1fr;
      grid-gap: 0 50px;
    }
  }
}