@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap&subset=cyrillic,cyrillic-ext');

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../fonts/proxima_nova/ProximaNova-Regular.eot');
  src: local('ProximaNova Regular'), local('ProximaNova-Regular'),
  url('../fonts/proxima_nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/proxima_nova/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/proxima_nova/ProximaNova-Regular.ttf') format('truetype');
};