@import "~normalize.css";
@import "fonts";
@import "~plyr";
@import "owl-carousel";

$background_button: #8ae6cf;
$global_color: #282828;
$button_color: #2c303d;
$new-price_color: #ce2c52;

$glob_font: 'Montserrat', sans-serif;
$btn_font: 'ProximaNova', sans-serif;
$glob__bg: #fff;
$glob__color: #000;
$glob_wrap__padding: 15px;
$glob-desktop_wrap__padding: 3rem;
$glob_cn__max-width: 1920-160+px;
$list-it_list__bg: #2864FF;
$footer__bg: #000018;

* {
  box-sizing: border-box;
}

body,
p,
input,
ul,
figcaption,
figure,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-size: 10px;
}



button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

form {
  display: block;
}
.select{
  label{
    margin: 0;
  }
  margin: 20px 0;
}
label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  font-weight: normal;
  input {
    margin-top: 16px;

    &::placeholder {
      font-weight: normal;
    }
  }

  textarea {
    margin-top: 16px;
  }

}

input,
textarea {
  width: 100%;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  font-size: 16px;
  line-height: 130%;

  &.err {
    border: 1px solid red;
  }
}

textarea {
  padding: 20px;
  resize: none;
}

input {
  height: 50px;
  padding: 0 20px;
  font-weight: bold;
}

label.req,
p.req {
  span {
    &:after {
      content: '*';
      color: red;
      display: inline;
    }
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $glob_font;
  font-size: 14px;
  line-height: 130%;
  background: $glob__bg;
  color: $glob__color;
  padding-top: 60px;
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-weight: 500;
}

.wrap {
  width: 100%;
  padding-left: $glob_wrap__padding;
  padding-right: $glob_wrap__padding;
}

section.wrap,
article.wrap,
aside.wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cn {
  max-width: $glob_cn__max-width;
  margin: 0 auto;
}

.hello {
  background: url('../img/icon.jpg');
}

.btn-tr {
  outline: none;
  border: none;
  background: transparent;
  padding: 5px 10px;
}

.btn {
  display: block;
  min-width: 160px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: $btn_font;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  color: #ffffff;
  padding: 0 15px;
  text-align: center;

  &.blue {
    width: fit-content;
    max-width: 220px;
    background: #0057FF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: .25s ease-in-out;
    &:hover{
      background: #0045be;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }
}

.btn-input {
  cursor: pointer;
  input {
    display: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 240px;
    height: 65px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    transition: .25s;
  }

  [type="radio"]:checked + span {
    border: 1px solid #0057FF;
    color: #0057FF;
  }
}

.checkbox {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
  }

  span {
    position: relative;
    padding-left: 35px;
    line-height: 25px;
    cursor: pointer;
    display: inline-block;
    transition: .28s ease;
  }

  strong {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
  }

  [type="radio"] {
    + span {
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .28s ease;
        border-radius: 50%;
        border: 1px solid #000000
      }
    }

    &:checked + span {
      &:after {
        border: 1px solid #2864FF;
        transform: scale(0.5);
        background-color: #2864FF
      }
    }

    &:not(:checked) + span {
      &:after {
        transform: scale(0);
      }
    }

  }

  [type="radio"]:focus + span:before {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 130%;
}

h2.title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  font-size: 18px;
}

$list-it__margin-top-bot: 20px;

.list {
  font-size: 16px;
  line-height: 150%;
  margin: #{22 - $list-it__margin-top-bot} 0 #{-$list-it__margin-top-bot} 0;
  @at-root {
    .list_it {
      display: flex;
      margin: $list-it__margin-top-bot 0;

      &:before {
        content: '';
        margin: 5px 20px 0 0;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        background: $list-it_list__bg;
      }
    }
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.static{
  &.wrap{
    padding-top: 30px;
  }
  .title{
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
.txt {
  font-size: 18px;
  line-height: 130%;
  color: #6E7377;
}

@media screen and (min-width: 768px) and (min-width: 450px) {
  body {
    padding-top: 80px;
    font-size: 14px;
  }
  .wrap {
    padding-left: $glob-desktop_wrap__padding;
    padding-right: $glob-desktop_wrap__padding;
  }
}

@media screen and (max-width: 992px) {
  .desktop {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
  .mobile {
    display: none !important;
  }
  .wrap {
    &.wrap-big {
      &.prod{
        padding-left: $glob-desktop_wrap__padding;
        padding-right: 0;
      }
      .cn{
        padding-left: $glob-desktop_wrap__padding;
        padding-right: $glob-desktop_wrap__padding;
      }
    }
  }
  section.wrap,
  article.wrap,
  aside.wrap {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  h1 {
    line-height: 110%;
    font-size: 2.8rem;
  }
  .static{
    &.wrap{
      padding-top: 2.5rem;
    }
    .cn{
      max-width: 1200px;
    }
    .title{
      line-height: 110%;
      max-width: 65%;
      margin-bottom: 2.5rem
    }
  }

  h2.title {
    &:not(.not) {
      font-size: 2.4rem;
    }

    &.not {
      font-size: 18px;
    }
  }


  .list {
    margin: -1.5rem 0 -1.5rem 0;
    @at-root {
      .list_it {
        margin: 1.5rem 0!important;
      }
    }
  }

}


@media screen and (min-width: 1240px) {
  body {
    padding-top: 84px;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      display: block;
      width: 8px;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
    }
    &::-webkit-scrollbar:vertical {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #0057FF;
    }
    &::-webkit-scrollbar-track {
      border: 8px solid #e5e5e5;
    }
  }
  textarea{
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      border-radius: 5px;
      margin: 5px 0;
    }
    &::-webkit-scrollbar:vertical {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
      border: 5px solid transparent;
      margin: 4px 2px 4px 0;
    }
  }
}

@media screen and (min-width: 1350px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  body {
    padding-top: 114px;
  }
}

@media screen and (min-width: 1860px) {
  html {
    font-size: 20px;
  }
  body {
    font-size: 18px;
  }
  .list {
    font-size: 18px;
  }
  label{
    margin: 30px 0;
  }
  .wrap {
    &.wrap-big {
      &.prod{
        .cn{
          //padding-left: $glob-desktop_wrap__padding*2;
          padding-right: 0;
        }
      }
      .cn{
        //padding-left: $glob-desktop_wrap__padding*2;
        //padding-right: $glob-desktop_wrap__padding*2;
      }
    }
  }
  input, textarea {
    font-size: 18px;
  }
  input{
    height: 65px;
  }
  .btn{
    height: 65px;
    line-height: 65px;
    min-width: 220px;
    &.blue{
      font-size: 24px;
      max-width: 250px;
    }
  }
}

@import 'header';
@import 'prod';
@import 'about-company';
@import 'word_courses';
@import 'theme';
@import 'standard-set';
@import 'lets-talk';
@import 'products';
@import 'made-cards';
@import 'advantage';
@import 'cards-look';
@import 'random-cards';
@import 'how-we-work';
@import 'unique-cards';
@import 'app';
@import 'partner';
@import 'what-products';
@import 'to_partner';
@import 'contact-us';
@import 'questions';
@import 'partners';
@import 'info-order';
@import 'basket';
@import 'subscribe';
@import 'footer';
@import 'modal-window';
