.info-order {
  &.wrap {
    padding-bottom: 50px;
  }

  strong {
    font-size: 18px;
    line-height: 120%;
  }

  .gall {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding-right: 25px;

    li {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        width: 45px;
        height: 45px;
        margin-right: 30px;
        display: block;
        flex-shrink: 0;
      }

      $url_img: "../img/icon-svg/discount.svg" 1,
      "../img/icon-svg/learn_all.svg" 2,
      "../img/icon-svg/double-click.svg" 3,
      "../img/icon-svg/like.svg" 4;
      @each $src, $i in $url_img {
        &:nth-of-type(#{$i}) {
          &:before {
            background: url(#{$src}) no-repeat 50% 50%;
            background-size: contain;
          }
        }
      }
    }
  }

  .order {
    display: block;
    margin-top: 50px;
  }

  .btn {
    min-width: 180px;
    margin: 30px auto 0;
  }
}

@media screen and (min-width: 768px) {
  .info-order{

    .cn{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .info{
      width: 44%;
    }
    .order{
      padding: 2.5rem;
      margin-top: 0;
      width: 50%;
      background: #FAFAFA;
      border-radius: 10px;
    }
    label{
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .info-order {

    &.wrap{
      padding-top: 4.55rem;
    }
    .title {
      margin-bottom: 2.5rem;
    }

    .gall {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 3.5rem 4.5rem;
      padding: 0;
    }

    .info {
      width: 44%;
    }

    .order {
      width: 39%;
      min-width: 420px;
      max-width: 600px;
    }
    strong{
      font-size: 20px;
    }
    .btn{
      width: 100%;
      margin-top: 2.2rem;
    }
  }
}