$bg: #000018;

.made-cards{
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  background: $bg;

  .gall{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 300px));
    justify-content: center;
    grid-gap: 20px;
  }
  .gall_it{
    overflow: hidden;
  }
  .gall_img{
    max-width: 300px;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  .img{
    object-fit: cover;
  }
  .gall_des{
    padding: 20px 20px 30px;
    border: 1px solid #6E7377;
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (min-width: 650px) {
  .made-cards{
    .gall{
      grid-gap: 2.5rem;
    }
    .gall_it{
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .gall_img{
      flex-shrink: 0;
    }
    .gall_des{
      display: flex;
      justify-items: center;
      align-items: center;
      height: 100%;
    }
  }
}
@media screen and (min-width: 992px) {
  .made-cards{
    &.wrap{
      padding-top: 5.75rem;
    }
    .gall{
      grid-gap: 2.6rem 5rem;
    }
    .title{
      margin-bottom: 2.6rem;
    }
  }
}
@media screen and (min-width: 1240px) {
  .made-cards{
    .gall{
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.6rem 5rem;
    }
    .gall_it{
      display: flex;
      flex-direction: row
    }
    .gall_img{
      border-radius: 10px 0 0 10px;
    }
    .gall_des{
      padding: 2rem 3.25rem 2rem 4.45rem;
      border-radius: 0 10px 10px 0;
      height: auto;
      text-align: left;
    }
  }
}