$bg: #FAFAFA;
$color: #000;

.partners {
  text-align: center;
  background: $bg;

  &.wrap {
    padding: 30px 29px 39px;
  }

  .gall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 20px 35px;
    align-items: center;
    justify-items: center;
  }

  .gall_it {
    max-height: 42px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .partners {
    .gall {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-gap: 3rem 4rem;
    }
    .gall_it {
      max-height: 50px;
      min-height: 40px;
    }
  }
}

@media screen and (min-width: 992px) {
  .partners{
    &.wrap{
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .title{
      margin-bottom: 3rem;
    }
  }
}

@media screen and (min-width: 1350px) {
  .partners{
    .gall {
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    .gall_it {
      max-height: 4rem;
      min-height: 3.5rem;
    }
  }

}