$bg: #FAFAFA;

.products {
  .title {
    padding-right: 30px;
  }

  .gall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 20px;
  }

  //.gall_prod {
  //  display: none;
  //
  //  &.active {
  //    display: block;
  //  }
  //}

  @at-root {
    .tabs {
      position: relative;
      left: -$glob_wrap__padding;
      display: flex;
      align-items: center;
      overflow-x: auto;
      width: 100vw;
      margin: 5px 0 25px;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar:horizontal {
        height: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        margin: 0 15px;
      }
    }

    .tabs_it {
      display: block;
      width: max-content;
      color: rgba(0, 0, 0, 0.55);
      padding: 15px 10px;
      margin: 0 12px;
      border-bottom: 1px solid transparent;
      transition: .25s color, .25s border-bottom-color;
      &.active{
        color: #000;
      }
    }
    .prod-prev {
      padding: 20px;
      border: 1px solid #EAEAEA;
      border-radius: 10px;

      .cn_img {
        display: block;
        height: 194px;
        margin-bottom: 30px;
      }

      .title{
        margin-bottom: 0;
      }

      .price {
        display: block;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #0057FF;
        margin: 20px 0;
      }

      p {
        line-height: 120%;
        margin-bottom: 10px;
      }

      .status {
        color: #32DB6C;
      }

      .dispatch {
        color: #979797;
      }

      .btn {
        margin-top: 30px;
      }
    }
  }
}


.related{
  background-color: $bg;
  &.wrap{
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: 30px;
  }
}


@media screen and (min-width: 768px) {
  .tabs{
    left: initial;
    width: auto;
    margin: 0 0 2.5rem;
  }
  .tabs_it{
    margin: 0 3rem 0 0;
    &.active{
      border-bottom-color: #000;
    }
  }
}

@media screen and (min-width: 992px) {
  .products{
    &.wrap{
      padding-top: 4.6rem;
      padding-bottom: 4.7rem;
    }
    .gall{
      grid-gap: 2.5rem;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }

  .prod-prev {
    padding: 1.6rem 2.3rem 1.4rem;
    .title{
      padding: 0;
    }
    .cn_img{
      margin-bottom: 2.5rem;
    }
    .price{
      margin: 1.1rem 0 1.5rem;
    }
    .btn{
      margin-top: 25px;
    }
  }


  .related {
    &.wrap {
      padding-top: 5rem;
      padding-bottom: 6.25rem;
    }
    .cn{
      >.title{
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

}

@media screen and (min-width: 1240px) {
  .prod-prev .cn_img {
    height: 240px;
  }
}