$bg: #000018;
$cards__bg: #fff;
.random-cards {

  background: $bg;

  &.wrap {
    padding-bottom: 35px;
  }

  .title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .des {
    margin: 0 auto;
    max-width: 225px;
    text-align: center;
    color: #6E7377;
  }

  .owl-carousel {
    margin-top: 30px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 25px;
  }

  @at-root {
    .cn_random-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding-top: 35px;
    }

    .random-card-title {
      position: absolute;
      top: 0;
      font-size: 16px;
      line-height: 130%;
      font-weight: normal;
      color: #ffffff;
    }

    .random-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 297px;
      padding: 20px 20px 25px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 120%;
      background: $cards__bg;
      color: #6E7377;

      strong {
        font-weight: bold;
        color: #000000;
      }

    }

    .random-card_about {
      display: flex;
      justify-content: space-between;
    }

    .random-card_word {
      margin: 5px 0;

      strong {
        font-size: 22px;
      }

      .word {
        margin-bottom: 5px;
      }
    }

    .random-card_des {
      margin: -10px 0 -16px;

      p {
        margin: 16px 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .random-cards {
    .des {
      max-width: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .random-cards {
    &.wrap {
      padding-bottom: 5rem;
    }

    .title {
      margin-bottom: 10px;
    }

    .owl-carousel {
      margin-top: 5rem;
    }

    .owl-theme .owl-nav {
      margin-top: 0;
      top: 0;
      right: 0;
      color: #ffffff;
    }

    path {
      stroke: #ffffff;
    }
  }
  .random-card{
    padding: 2rem 2rem 1.9rem;
    min-height: 350px
  }
  .cn_random-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.6rem;
    padding-top: 35+22px;

    strong {
      font-size: 2.4rem;
    }
  }
  .random-card_about {
    font-size: 20px;
    strong {
      font-size: 20px;
    }
  }
  .random-card_word .word{
    margin-bottom: 7px;
  }
  .random-card_word,
  .random-card_des{
    margin-left: .9rem;
    font-size: 20px;
  }
  .random-card_des{
    p{
      margin: 1.4rem 0;
    }
  }
  .random-card-title {
    top: 8px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1240px) {
  .random-card{
    min-height: 26rem;
  }
}