.word_courses{
  &.wrap{
    padding-top: 88-60px;
    padding-bottom: 40px;
  }
  h1{
    margin-bottom: 30px;
  }
  .cn_img{
    width: 100%;
    max-height: 500px;
    height: 50vw;
  }
  .img{
    object-fit: cover;
  }
  figcaption{
    line-height: 110%;
    max-width: 95%;
  }
  .title{
    display: block;
    margin: 50px 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 110%;
  }

  .owl-dots{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50vw;
    width: 100%;
    margin: 15px 0!important;
  }
}
@media screen and (min-width: 500px){
  .word_courses{
    h1{
      max-width: 70%;
    }
  }
}


@media screen and (min-width: 992px) {
  .word_courses{
    &.wrap{
      padding-bottom: 5rem;
    }
    figcaption{
      max-width: 60%;
      padding-left: $glob-desktop_wrap__padding;
    }
    .title {
      font-size: 18px;
      margin: 2.2rem 0 1.1rem;
    }
    .cn_img{
      max-height: 450px;
    }
    .owl-nav{
      margin-top: 2.2rem;
      top: 450px;
      right: $glob-desktop_wrap__padding;
    }
  }
}

@media screen and (min-width: 1860px) {
  .word_courses{
    .cn_img{
      max-height: 500px;
    }
    figcaption{
      padding-left: $glob-desktop_wrap__padding*2;
    }
    .owl-nav{
      top: 500px;
      right: $glob-desktop_wrap__padding*2;
    }
  }
}
